.home-container {
    text-align: center;
    margin-top: 100px;
}

button {
    margin: 10px;
    background-color: #00A651;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #008c45;
}