<section class="list-page">
    <div class="list-header">
        <h1>Attractions</h1>
    </div>

    <div *ngIf="loading" class="state">Loading...</div>

    <app-generic-table [columns]="columns" [data]="data" [emptyMessage]="errorMsg || 'No attractions found'"
        [cellTemplates]="{ actions: actionsTpl }">
    </app-generic-table>

    <ng-template #actionsTpl let-row>
    <a
        *ngIf="canEdit()"
        class="btn-reset"
        [routerLink]="['/attraction', row.id, 'edit']">
        <app-buttons color="secondary" text="Edit"></app-buttons>
    </a>
    </ng-template>
</section>