<app-create-attraction-form>
    <h1 class="title" form-title>Create Attraction</h1>

    <div class="ctas" form-actions>
        <div class="primary-cta">
            <button type="submit" class="btn-reset">
                <app-buttons color="primary" text="Create"></app-buttons>
            </button>
        </div>

        <div class="secondary-cta">
            <a routerLink="/attraction" class="btn-reset">
                <app-buttons color="secondary" text="Cancel"></app-buttons>
            </a>
        </div>
    </div>
</app-create-attraction-form>