<header class="header" *ngIf="isVisible">
    <div class="brand">
        <a class="brand__link">
            <img class="brand__logo" src="/logo.png" alt="VirtualPark logo" />
        </a>
    </div>

    <nav class="nav" aria-label="Sections">
        <app-dropdown-menu
        label="Attractions"
        [path]="'/attraction'"
        *ngIf="canView(['Administrator', 'Operator', 'Visitor'])">
        </app-dropdown-menu>

        <app-dropdown-menu
        label="Tickets"
        [path]="'/ticket'"
        *ngIf="canView(['Administrator', 'Visitor'])">
        </app-dropdown-menu>

        <app-dropdown-menu
        label="Events"
        [path]="'/events'"
        *ngIf="canView(['Administrator', 'Visitor'])">
        </app-dropdown-menu>

        <app-dropdown-menu
        label="Reward redemptions"
        [path]="'/reedem'"
        *ngIf="canView(['Administrator', 'Visitor'])">
        </app-dropdown-menu>

        <app-dropdown-menu label="Rewards" [items]="rewardMenu" *ngIf="canView(['Administrator'])"></app-dropdown-menu>

        <app-dropdown-menu
        label="Type Incidences"
        [path]="'/typeincidences'"
        *ngIf="canView(['Administrator', 'Operator'])">
        </app-dropdown-menu>

        <app-dropdown-menu
        label="Incidences"
        [path]="'/incidences'"
        *ngIf="canView(['Administrator', 'Operator'])">
        </app-dropdown-menu>

        <ng-container *ngIf="getVisibleMenu(clockMenu) as clockMenuItems">
            <app-dropdown-menu label="Clock" [items]="clockMenuItems" *ngIf="clockMenuItems.length"></app-dropdown-menu>
        </ng-container>

        <ng-container *ngIf="getVisibleMenu(rankingMenu) as rankingMenuItems">
            <app-dropdown-menu label="Rankings" [items]="rankingMenuItems"
                *ngIf="rankingMenuItems.length"></app-dropdown-menu>
        </ng-container>
    </nav>

    <app-buttons color="primary" text="Logout" (clicked)="logout()"></app-buttons>

</header>