.reward-page-container {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  padding: 40px;
  background-color:  #fffaf0; 
  border-radius: 20px; 
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.reward-page-container:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
}

.create-button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.reward-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reward-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: left;
}
