.ctas {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}

.primary-cta {
    display: flex;
    justify-content: center;
}

.secondary-cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    color: var(--color-secondary);
    font-size: 1rem;
}

.primary-cta app-buttons {
    min-width: 200px;
}

