<section class="register-page">
    <div class="register-container">
        <h1 class="title">Create Your Account</h1>

        <app-register-user-form></app-register-user-form>

        <div class="ctas">
            <div class="primary-cta">
                <app-buttons color="primary" text="Register"></app-buttons>
            </div>

            <div class="secondary-cta">
                <span>Already have an account?</span>
                <app-buttons color="secondary" text="Sign in"></app-buttons>
            </div>
        </div>
    </div>
</section>
