name: Build and Test

on:
  pull_request:
  push:
    branches: [main, develop]
    paths:
      - '**.cs'
      - '**.csproj'

jobs:
  run:
    name: Run
    uses: IngSoft-DA2/workflows/.github/workflows/reusable-build-test.yml@self-hosted
    permissions: write-all
    with:
      solution-name: 'VirtualPark.sln'